.App {
  text-align: center;
}

body {
  background-color: #0C0D11;
}

form {
  background-color: #111217;
  padding: 40px;
  border-radius: 15px;
}

.elementContainer {
  margin: 20px;
}

#subBtn {
  margin-right: 20px;
}

label {
  color: #7F86A6 !important;
}

input, select {
  color:  #7F86A6 !important;
}

svg {
  color: #7F86A6 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #292C37 !important;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.MuiSlider-root {
  color: #BC3756 !important;
}

#time::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}

.MuiButton-contained.Mui-disabled {
  color:  rgba(255, 255, 255, .5) !important;
}